@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
}

@media (max-width: 44em){
  body{
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
  }
}

input, select, button, label{
  margin: 3px;
}

textarea{
  margin: 2px;
  height: 5rem;
}

input[type=text], input[type=number], input[type=date], textarea, select{
  width: 100%;
}

/* input:valid, textarea:valid, select:valid{
  background-color: rgb(232, 240, 254);
} */

/* input:invalid, textarea:invalid, select:invalid{
  background-color: rgb(242, 219, 219);
} */

.modal-header {
  color: white;
  background-color: #266293;
}

.modal-title {
  font-size: 1.4rem;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #1e4e76; 
}

.overflow-x-hidden{
  overflow-x: hidden;
}

._loading_overlay_overlay{
  z-index: 99999 !important;
}

.pl-0{
  padding-left: 0;
}

#main{
  width: 100%;
  overflow-y: scroll;
  overflow-x: auto;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.Body{
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.pointer{
  cursor: pointer;
}

.userProfile{
  font-size: 1.75rem;
}

.content-section{
  min-height: 64vh; 
  margin-bottom: 10vh;
}